body 
 {
 	background-color: #676767;
 	font-family: 'Roboto', sans-serif;
 }	

#header
{
	background-color : white ;
	width : 85%;
	color : black;
	margin :auto;
	margin-top: 20px;
	margin-bottom: 20px;
	width : 85%;
	padding-bottom: 20px;
}

.textheader
{
	text-align: center;
	font-size: 40px;
}

.textheadersubpage
{
	text-align: center;
	font-size: 40px;
	color : white;
	padding: 10px;
}

.textUnderPhoto
{
	text-align: center;
	font-size: 24px;
	color : white;
	margin-top: 20px;
	margin-bottom : 20px;
}

.judulTable
{
	font-size: 28px;
	padding-left: 40px;
}

.contactperson
{
	margin-top: 10px;
	margin-bottom: 10px;
}


.row
{ 	
	margin : auto;
}

.text2
{
	font-size: 18px;
	color : black;
	position: relative;
	margin-left: 15px;
	margin-right:px;
	margin-top: 30px;
}

#row3
{
	background-color:white;
	padding-top: 20px;
	height: 450px;
}
#text
{
	text-align: center;
	font-size: 24px;
	color : white;
	padding-bottom: 20px;
	padding-top: 20px;

}


#text3
{
	font-size: 20px;
	color : black;
	position: relative;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 10px;

}

.col-md-9
{
	margin-top: auto; 
	margin-bottom: auto;
}


#tablePerkenalan
{
	border-left: 5px solid #676767;
	font-size: 20px;

}

#tableSubPage
{
	font-size: 18px ;
	width : 85%;
	margin : auto;

}

#li2
{
	font-size: 20px;
	color : black;
	margin-top: 20px;
}

#deskripsi
{
	font-size : 18px;
}

#bagi3
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 0px;
}


#subutama
{
	width : 85%;
}

#judulsub1
{
	background-color : #717dff;
	font-size : 20px;
}
