{% extends 'layout/base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>
		{% block title %}
        	Lab PPW - Form Registration
    	{% endblock title %}
	</title>
</head>

<body>
	{% block content %}
	<div class = 'header' style="padding: 20px;">
  		<div>
  			<a href="{% url 'index' %}" class="btn btn-default" role="button" aria-pressed="true">Kembali</a>
		</div>
		<div>
			<p style="font-size: 24px; margin-top: 10px;">Form Feedback</p>
		</div>
		<div>
			<form class="form" action="{% url 'form:feedback-save' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {{ feedback_form.as_p }}
                </div>
                <button type="submit" class="btn btn-primary">Masukkan Saran </button>
            </form>
        </div>
    </div>
    {% endblock %}
</body>