{% extends 'layout/base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>
		{% block title %}
        	Lab PPW - Form Registration
    	{% endblock title %}
	</title>
</head>

<body>
	{% block content %}
	
	<div class = 'header' style="padding: 20px;">
  		<div>
  			<a href="/form/jadwal" class="btn btn-default" role="button" aria-pressed="true">Kembali</a>
		</div>
		<div>
			<p class= "textheader"> Form Jadwal Kegiatan </p>
		</div>
		<div>
			<form class="form-block" action="{% url 'form:jadwal-form' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {{ form }}
                </div>
                <button type="submit" class="btn btn-primary">Input Jadwal Kegiatan</button>
            </form>

		</div>
	</div>
	{% endblock %}
</body>
</html>