{% extends 'layout/base.html' %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>

<html>
<head>
	<title>
		{% block title %}
        	Lab PPW - Form Registration
    	{% endblock title %}
	</title>
</head>

<body>
	{% block content %}
	<div class = 'header' style="padding: 20px;">
		<p class= "textheader">Jadwal Kegiatan </p>

		{% if jadwal%}
			<div class="table-responsive">
		  		<table class="table">
			      	<thead style="background-color: #676767; color: white;">
			      		<tr>
			      			<th>Nama</th>
					        <th>Tempat</th>
					        <th>Kategori</th>
					        <th>Tanggal</th>
					        <th>Waktu</th>
					    </tr>
			    	</thead>

			    	
			   		{% for i in jadwal%}
			   		{% language 'id' %}
			      		<tr>
					        <td> {{i.nama}}</td>
					        <td> {{i.tempat}}</td>
					        <td>
					        	{% if i.kategori %}
					        		{{i.kategori}}
					        	{% else %}
					        		- 
					        	{% endif %}
					        </td>
					        <td>
					        	{{ i.waktu|date:"l, j F Y" }}
					        </td>
					        <td>
					        	{{ i.waktu|date:"g:i A"}}
					        </td>
				     	</tr>
				     {% endlanguage %}
				     {% endfor %}
			  </table>
			</div>
		{% else %}
			<p style="text-align: center;"> tidak ada kegiatan, have a nice day! </p>
		{% endif %}
		
  		<a href= "{% url 'form:jadwal-form' %}" class="btn btn-primary" role="button" aria-pressed="true">Tambah Kegiatan</a>

  		<form class="form" action="{% url 'form:delete-database' %}" method="POST" style="padding-top: 5px">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Hapus semua data</button>
        </form>
		
	</div>
	
	{% endblock %}
</body>
</html>

