{% extends 'layout/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}
    Lab PPW - Home
  {% endblock title %}
</head>

<body>
  	{% block content %}
	<div class= "header">
		<div style="padding-top: 115px; padding-bottom: 115px;">
			<p class = "textheader"> About </p>
				<p style = "text-align: center;font-size: 20px; font-family: Calibri ; width: 50%; margin: auto;">
					project ini dibuat untuk memenuhi tugas lab perancangan dan pemograman web (PPW) serta lab ini dibuat untuk teman-teman yang ingin tahu lebih lanjut mengenai saya </br></br></br> Copyright@2018 AFH
				</p>
			</div>
		</div>
	</div>
	{% endblock %}


</body>