{% extends 'layout/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}
    Lab PPW - Home
  {% endblock title %}
</head>

<body>
  {% block content %}

  <div class= "header">
  	<div class= "row" style= "margin-top: 20px; margin-bottom: 20px">
      <div class="col-md-11">
        <p class= "textheader"> TENTANG SAYA </p>
      </div>
      <div class="col-md-1">
        <img src="{% static 'Asset 8.png' %}" alt="logo email" style= "width: 60px; display: block; padding-top: 10px; margin:auto;">
      </div>
    </div>

    <div class= "row">
      <div class="col-md-3" style="padding-bottom: 35px;">
         <img src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-1/p160x160/27749797_1556709127732148_4464822287938127277_n.jpg?_nc_cat=0&oh=e3dc5768a32bd3992e88dbb4b022f242&oe=5BED2112" style= "width: 180px;border-radius: 50%;display: block; margin:auto;">
      </div>

      <div class= "col-md-9">
      	<div class="table-responsive">
	        <table class="table" id="tablePerkenalan">
	          <tbody>
	             <tr>
	              <td>Nama</td>
	              <td>: Aziz Fikri Hudaya</td>
	            </tr>      
	            <tr>
	              <td>TTL</td>
	              <td>: Bengkulu, 4 Juni 1999</td>
	            </tr>
	            <tr>
	              <td>Hobi</td>
	              <td>: Roaming Around, Do Nothing</td>
	            </tr>
	            <tr>
	              <td>Domisili</td>
	              <td>: Jakarta</td>
	            </tr>
	          </tbody>
	        </table>
   		</div>
      </div>
    </div>

    <div class= "row">
      <div class="col-md-3">
        <div class="contactperson">
          <img src="{% static 'Asset 1.png' %}" style="display: block; margin:auto;">
        </div>
      </div>
      <div class="col-md-9">
        <p id = "deskripsi">Deskripsi Diri: <br>
          Mahasiswa Fasilkom UI angkatan 2017. Seorang yang menyukai meme dan suka berkeliling tanpa arah. menyukai tantangan serta berusaha untuk menjadi lebih baik.
        </p>
      </div>
    </div>
  </div>

  <div class="row" id = "subutama">
    <div class="col-md-4" id = "bagi3">
      <div class= "row" style = "background-color: #487FFF" >
        <p id = "text">
          Riwayat Pendidikan
        </p>
      </div>
      <div class= "row" id = "row3">
        <p class="text2"><img src= "{% static 'Asset SD.png' %}">
          SDIT IQRA'1 Bengkulu
        </p>
        <p class="text2"><img src= "{% static 'Asset SMP.png' %}">
          SMPIT IQRA Bengkulu
        </p>
        <p class="text2"><img src= "{% static 'Asset SMA.png' %}">
          SMAN 5 Kota Bengkulu
        </p>
        <p class="text2"><img src="{% static 'Asset S1.png' %}">
          Fakultas Ilmu Komputer UI
        </p>
      </div>
        
      <div class= "row" style = "background-color:white;margin-bottom :20px;">
      	<a href="/riwayatPendidikan">
         <p style= "text-align: center;"><img src= "{% static 'Asset.png' %}" > </p>
     	</a>
      </div>
    </div>
    <div class="col-md-4" id = "bagi3">
      <div class= "row" style = "background-color: #FFA82F;">
        <p id = "text">
          Keahlian
        </p>
      </div>
       <div class= "row" id = "row3">
       <p id = "text3"> Python </p>
        <div class="progress" style="margin-left: 30px; margin-right: 30px;">
          <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        
        <p id = "text3"> Java </p>
        <div class="progress" style="margin-left: 30px; margin-right: 30px;">
          <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

        <p id = "text3"> Desain Grafis </p>
        <div class="progress" style="margin-left: 30px; margin-right: 30px;">
          <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

        <p id = "text3"> Desain web </p>
        <div class="progress" style="margin-left: 30px; margin-right: 30px;">
           <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

        <p id = "text3"> HTML </p>
        <div class="progress" style="margin-left: 30px; margin-right: 30px;">
          <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
        </div>


      </div>
      <div class= "row" style = "background-color:white;margin-bottom :20px;">
        <p style= "text-align: center;"><img src= "{% static 'Asset.png' %}"> </p>
      </div>

    </div>



    <div class="col-md-4" id = "bagi3">
      <div class= "row" style = "background-color: #FF7176;">
        <p id = "text">
          Riwayat Organisasi
        </p>
      </div>
        <div class= "row" id = "row3">
          <ul style="list-style-type:bullet; padding-left: 30px">
            <li id="li2">Staff Media FUKI Fasilkom UI</li>
            <li id="li2">Staff Desain BKUI’18</li>

          </ul>  
        </div>
      <div class= "row" style = "background-color:white;margin-bottom :20px;">
        <a href= "/riwayatOrganisasi">
         <p style= "text-align: center;"><img src= "{% static 'Asset.png' %}"> </p>
       </a>
      </div>
  </div>
  {% endblock %}
</body>

</html>
