{% extends 'layout/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}
    Lab PPW - Home
  {% endblock title %}
</head>

<body>
  	{% block content %}

	<div class= "header">
		<div style="background-color : #487fff">
	  		<div class= "row" style= "margin-top: 10px; margin-bottom: 10px">
	  			<p class= "textheadersubpage"> Riwayat Pendidikan </p>
	  		</div>
	  		<div class="row">
	  			<img src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-1/p160x160/27749797_1556709127732148_4464822287938127277_n.jpg?_nc_cat=0&oh=e3dc5768a32bd3992e88dbb4b022f242&oe=5BED2112" style= "width: 150px;border-radius: 50%;display: block; margin:auto;"> 
	  		</div>
	  		<div class="row">
	  			<p class = "textUnderPhoto"> Aziz Fikri Hudaya </p>
	  		</div>
	  	</div>

	  	<div class = "row" style = "margin-top: 20px; margin-bottom: 20px">
	  		<p class = "judulTable" > Formal </p>
	  		<div class="table-responsive">
		  		<table class="table" id = "tableSubPage">
			      	<thead>
			      		<tr>
			      			<th>Tahun</th>
					        <th>Jenjang</th>
					        <th>Nama Sekolah</th>
					        <th>Tempat</th>
					    </tr>
			    	</thead>
			   		<tbody>
			      		<tr>
					        <td>2006-2011</td>
					        <td>SD</td>
					        <td>SDIT IQRA’1 Kota Bengkulu</td>
					        <td>Bengkulu</td>
				      </tr>
				      <tr>
					        <td>2011-2014</td>
					        <td>SMP</td>
					        <td>SMPIT IQRA’1 Kota Bengkulu</td>
					        <td>Bengkulu</td>
				      </tr>
				      <tr>
					        <td>2014-2017</td>
					        <td>SMA</td>
					        <td>SMAN 5 Kota Bengkulu</td>
					        <td>Bengkulu</td>
				      </tr>
				      <tr>
					        <td>2017-Sekarang</td>
					        <td>S1</td>
					        <td>Fakultas Ilmu Komputer UI</td>
					        <td>Depok</td>
				      </tr>
				    </tbody>
			  </table>
			</div>
		</div>

		<p class = "judulTable" > Non Formal </p>
		<div class="table-responsive">
		  		<table class="table" id = "tableSubPage">
			      	<thead>
			      		<tr>
			      			<th>Tahun</th>
					        <th>Nama Instansi</th>
					        <th>Tempat</th>
					    </tr>
			    	</thead>
			   		<tbody>
			      		<tr>
					        <td>2005-2006</td>
					        <td>TKIT Auladuna</td>
					        <td>Bengkulu</td>
				     	</tr>
				     	<tr>
					        <td>2016</td>
					        <td>Bimbel Talenta</td>
					        <td>Bengkulu</td>
				     	</tr>
				     	<tr>
					        <td>2017</td>
					        <td>Ganesha Operation</td>
					        <td>Bengkulu</td>
				     	</tr>
				    </tbody>
			  </table>
			</div>

	</div>

	{% endblock %}
</body>


