{% extends 'layout/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}
    Lab PPW - Home
  {% endblock title %}
</head>

<body>
  	{% block content %}

	<div class= "header">
		<div style="background-color : #FF7176">
	  		<div class= "row" style= "margin-top: 10px; margin-bottom: 10px">
	  			<p class= "textheadersubpage"> Riwayat Organisasi </p>
	  		</div>
	  		<div class="row">
	  			<img src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-1/p160x160/27749797_1556709127732148_4464822287938127277_n.jpg?_nc_cat=0&oh=e3dc5768a32bd3992e88dbb4b022f242&oe=5BED2112" style= "width: 150px;border-radius: 50%;display: block; margin:auto;"> 
	  		</div>
	  		<div class="row">
	  			<p class = "textUnderPhoto"> Aziz Fikri Hudaya </p>
	  		</div>
	  	</div>

	  	<div class = "row" style = "margin-top: 20px; margin-bottom: 20px">
	  		<p class = "judulTable" > Organisasi </p>
	  		<div class="table-responsive">
		  		<table class="table" id = "tableSubPage">
			      	<thead>
			      		<tr>
			      			<th>Tahun</th>
					        <th>Nama Organisasi</th>
					        <th>Jabatan</th>
					    </tr>
			    	</thead>
			   		<tbody>
			      		<tr>
					        <td>2018</td>
					        <td>FUKI Fasilkom UI</td>
					        <td>Staff Media</td>
				     	</tr>
				     	<tr>
					        <td>2018</td>
					        <td>Himamira UI</td>
					        <td>BPH Eksternal</td>
				     	</tr>
				     	<tr>
					        <td>2018</td>
					        <td>TRUI</td>
					        <td>Anggota Muda</td>
				     	</tr>
				    </tbody>
			  </table>
			</div>
		</div>

		<p class = "judulTable" > Kepanitiaan </p>
		<div class="table-responsive">
		  		<table class="table" id = "tableSubPage">
			      	<thead>
			      		<tr>
			      			<th>Tahun</th>
					        <th>Nama Kepanitiaan</th>
					        <th>Jabatan</th>
					    </tr>
			    	</thead>
			   		<tbody>
			      		<tr>
					        <td>2018</td>
					        <td>Bedah Kampus UI</td>
					        <td>Staff Desain</td>
				     	</tr>
				     	<tr>
					        <td>2018</td>
					        <td>UI Goes To Bengkulu</td>
					        <td>Staff HPD </td>
				     	</tr>
				     	<tr>
					        <td>2017</td>
					        <td>OH Fasilkom UI</td>
					        <td>Asisten Lab</td>
				     	</tr>
				    </tbody>
			  </table>
			</div>

	</div>
	{% endblock %}
</body>