<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lab 1 PPW</title>
	<style>
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	</style>
</head>
<body>
	
    <h1 style="text-align:center;">Hello Visitor!</h1>
	<h2 style="text-align:center;">This is My bio</h2>
	<img alt="Foto Aziz" src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-1/p160x160/27749797_1556709127732148_4464822287938127277_n.jpg?_nc_cat=0&amp;oh=e3dc5768a32bd3992e88dbb4b022f242&amp;oe=5BED2112" height = "150" width = "150">
	<pre style="font-size:150%;">Nama 			: {{ name }} </pre>
    <pre style="font-size:150%;">NPM 			: {{ npm }} </pre>
	<pre style="font-size:150%;">Tempat kuliah 		: Universitas Indonesia </pre>
    <pre style="font-size:150%;">Age			: {{ age }} </pre>
	<pre style="font-size:150%;">Hobby			: Roaming around </pre>
	<pre>Description :</pre>
	<pre>
	Saya Aziz. Kuliah di jurusan Ilmu Komputer UI 2017. 
	suka bermain bermain game bangun kota
	suka jalan-jalan tanpa arah </pre>

	
	<h2 style="text-align:center;">And this is my friends bio</h2>
	<img alt="Achir" src= "http://www.about.tarung2017.com/foto/423.jpg" height = "150" width = "200">
	<pre style="font-size:150%;">Nama 			: Muhamad Achir Suci Ramadhan </pre>
	<pre style="font-size:150%;">NPM 			: 1706979354</pre>
	<pre style="font-size:150%;">Tempat kuliah 		: Universitas Indonesia </pre>
	<pre style="font-size:150%;">Hobby			: Jalan kaki tanpa tujuan yang jelas </pre>
	<pre>Description :</pre>
	<pre>
	Saya Ardan. Kuliah di jurusan Ilmu Komputer UI 2017. 
	Hobi tiduran sambil main HP. 
	Kalau lagi malas ya malas, kalau lagi rajin ya rajin. 
	Suka dengar lagu. Kalau ketemu wi-fi suka streaming Youtube. 
	Ini sudah satu paragraf kan? </pre>
	
	
</body>
</html>
