<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  
  <title>
    {% block title %}
        Lab PPW - Home
    {% endblock title %}
  </title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
  <link rel="stylesheet" href= "{%static 'styles.css' %}">


</head>

  <body>

    <header>
      {% include 'layout/navbar.html' %}
    </header>

    <content>
      {% block content %}
       <!-- content goes here -->
      {% endblock content %}
    </content>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </body>
</html>
