<!DOCTYPE html>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#">Lab PPW</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About </a></li>
          <li><a href="{% url 'form:feedback-form' %}">Feedback </a></li>
          <li><a href="{% url 'form:jadwal-list' %}">Jadwal</a></li>
        </ul>
      </div>
    </div>
  </nav>
<html>